<footer class="container mt-5 pt-4 border-top">
    <div class="row">
        <!-- Логотип и копирайт -->
        <div class="col-12 col-md">
            <h5><i class="fas fa-tools me-2"></i>Ремонт электроники </h5>
            <small class="d-block mb-3 text-body-secondary">&copy; 2014–2025</small>
        </div>

        <!-- Услуги -->
        <div class="col-6 col-md">
            <h5>Услуги</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="{{ url_for('price_laptops') }}">Ремонт ноутбуков</a></li>
                <li><a class="link-secondary text-decoration-none" href="{{ url_for('price_tv') }}">Ремонт телевизоров</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Ремонт компьютеров</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Выезд мастера</a></li>
            </ul>
        </div>

        <!-- Информация -->
        <div class="col-6 col-md">
            <h5>Информация</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">О компании</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Контакты</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Гарантия</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Отзывы</a></li>
            </ul>
        </div>

        <!-- Контакты -->
        <div class="col-6 col-md">
            <h5>Контакты</h5>
            <ul class="list-unstyled text-small">
                <li><i class="fas fa-phone me-2"></i>+7 (915) 702-31-72</li>
                <li><i class="fas fa-clock me-2"></i>Пн–Вс: 9:00–21:00</li>
                <li><i class="fas fa-map-marker-alt me-2"></i>г. Осташков</li>
                <li><i class="fas fa-envelope me-2"></i>kharun.dima@mail.ru</li>
            </ul>
        </div>
    </div>

    <!-- Политика и соглашение -->
    <div class="row mt-3 pt-3 border-top">
        <div class="col-12 text-center">
            <p class="mb-1">
                <a href="#" class="text-decoration-none me-3">Политика конфиденциальности</a>
                <a href="#" class="text-decoration-none">Пользовательское соглашение</a>
            </p>
        </div>
    </div>
</footer>